
        body {
          font-family: helvetica, sans-serif;
          background-color: white;
            margin: 0px;
            padding: 0px;
        }

        html {
          margin: 0px;
          padding: 0px;
        }

        #container {
          height:600px;
          width: 100%;
          background-color: #c879b2;
          margin: 0 0 0 0;
        }

        #orange {
          height: 600px;
          max-width: 1000px;
          background-color: #c879b2;
          float: right;
          margin: 0 0 0 0;
        }

        #tagline {
        	width: 200px;
        	height: 50px;
        	line-height: 28px;
        	margin: 0 0 0 0px;
        }

        #intro {
          height:350px;
          width:1000px;
          background-color: white;
          float: right;
          margin: 0 0 0 0;
        }

        #content {
          height: 350px;
          width: 450px;
          line-height: 28px;
          background-color: white;
          margin: 30 0 0 0;
          padding: 10px;
          text-align: justify;
        }

        #bluebox {
          height: 350px;
          width: 250px;
          background: rgba(50, 171, 193, 1);
          float: right;
          margin: 0 250px 0 0;
        }

        #landscape {
          height: 400px;
          width: 100%;
          background: url("landscape.jpg");
          background-size: cover;
          position: relative;
          background-repeat: no-repeat;
          margin: 450px 0 0 0;
        }

        #landscapecontent {
          height:250px;
          width:1000px;
          background-color: white;
          float: right;
          margin: 50;
        }

        #midsection { 
          height:450px;
          width:1000px;
          background-color: white;
          float: right;
          margin: 0 0 0 0;
        }

        #footer {
          height:100px;
          width:100%;
          background-color: #c879b2;
          float: right;
          margin: 0 0 0 0;
        }

        #social-buttons button {
	      color : white;
	      margin: 10px, 200px 10px 200px;
        }
        .btn-twitter {
	      background-color : #00acee;
	      border-color : #009ad5;
        }
        .btn-facebook {
          background-color : #4868ac;
	      border-color : #314776;
        }
        .btn-pinterest {
	      background-color : #b62f26;
	      border-color : #b62f26;
	    }

	    button {
	    	border: solid 5px;
	    	border-radius: 15px;
	    	font-size: 20px
	    }

