 
    h1 
    {
text-align: centre;
      font-size: 70px
color: green;
background-color: green;
} 
body
   {
     background-color: green;
    }
img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
}
.resize {
 width: 400px;
  height: auto;
}
